h2 {
    text-align: center;
    background-color: black;
    color: white;
}

.pd_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pd_items {
    width: 32%;
    cursor: pointer;
    text-align: center;
}

.item {
    width: 300px;
    height: 400px;
    padding: 10px;
    margin: auto;
    padding: auto;
}

.item:hover {
    box-shadow: 0px 0px 25px 2px rgb(173, 173, 173);
}

.pd_discount {
    background-color: #ffc108;
    color: aliceblue;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 5px;
    position: absolute;
}

.pd_name {
    height: 20px;
    width: 290px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    text-align: left;
}

.pd_price {
    color: red;
    font-weight: bold;
    text-align: start;
}

.btn_buy {
    background-color: #ffc108;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ffc108;
    color: white;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    margin-top: 5px;
}

.pd_pic img {
    height: 250px;
    width: 200px;
}

.pd_rating {
    margin: 0px;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
}

.pd_rate {
    float: left;
}

.pd_ratingCount {
    float: right;
}

.img_top {
    position: relative;
}

.heart {
    background-color: #eeeeee;
    border-radius: 100px;
    border: gray;
    position: absolute;
    right: 0px;
}

@media only screen and (max-width: 900px) {
    .pd_container {
        margin-left: 0px;
    }
    .pd_items {
        width: 28%;
    }
    .item {
        width: 100%;
    }
    .pd_pic img {
        height: 180px;
        width: 140px;
    }
    .pd_name {
        height: 20px;
        width: 140px;
        font-size: 13px;
        text-align: left;
    }
}

@media only screen and (max-width: 550px) {
    .item {
        width: 95%;
    }
    .pd_container {
        margin-left: 0px;
        flex-direction: column;
    }
    .pd_items {
        width: 100%;
        text-align: center;
    }
    .pd_name {
        height: 20px;
        width: 90%;
        font-size: 16px;
    }
}